header {
    text-align: center;
}

#canvas-container {
    width: 100%;
    height: 50vh;
    margin-bottom: 0.5em;
}

#canvas-hanoi {
    border: 1px solid black;
}

#buttons-container {
    display: flex;
    justify-content: center;
}

#rules-container {
    width: 50%;
    margin: 0 auto;
}