header {
    text-align: center;
}

#canvas-container {
    width: 100%;
    height: 50vh;
    margin-bottom: 0.5em;
}

#canvas-hanoi {
    border: 1px solid black;
}

#message-field {
    text-align: center;
    opacity: 1;
}

#message-field.fade-out {
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

#buttons-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.rod-move-select {
    display: flex;
}

.rod-move-select > * {
    margin: 1em 0;
}

#rules-container {
    width: 50%;
    margin: 0 auto;
}